#divOne{
    background-color: rgb(115, 115, 255);
    height: 300px;
    width: 300px;
    margin: 130px;
    text-align: center;
    padding: 30px;
    padding-top: 50px;
    border-radius: 50%;
}
#divTwo{
    background-color: rgb(255, 123, 123);
    height: 300px;
    width: 300px;
    margin: 130px;
    text-align: center;
    padding: 30px;
    padding-top: 50px;
    border-radius: 50%;
}